.header{
    display: flex;
    align-items: center;
    justify-content: space-between
    padding 25px 0;
}

body{
    font-family: Roboto;
    line-height: normal;
}
a{
    text-decoration:none;
}

ul{
    list-style-type: none;
}


.header-logo{
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;

}

.web{
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.nav-link{
    color: #212121;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}

.nav-link:hover{
    color: #2196F3;
}

.contact{
    color: #757575;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.contact:hover{
    color: #2196F3;
}

.effect-title{
    color: #FFF;
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}

.effect-button{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
}

.details-title{
    color: #212121;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.details-text{
    color: #757575;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.section-button{
    margin: 0 auto;
    text-align: center;
}

.about-title{
    color: #212121;
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
}

.team-title{
    color: #212121;
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
}

.team-name{
    color: #212121;
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
}

.team-work{
    color: #757575;
text-align: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;
}

.footer-logo{
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.Studio {
    color: #FFF;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.footer-adress{
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

footer{
    background: #2F303A;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.effect-title{
    background: #2F303A;
}

.section-list{
    margin: 0 auto;
    text-align: center;
}

.team-list{
    display: flex;
    gap: 30px;

}

.team-section{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}

.section-photo{
    /* margin-right: 30px; */
}




.photo:not(:last-child){
    margin-right: 26px;
}

.job{
    margin-top: 94px;
}

